/* =========================
   Form Container
========================= */
.form-container {
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

  background-color: #212360;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* =========================
   Headings & Labels
========================= */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.form-container label {
  color: #fff;
}

/* =========================
   Form Groups
========================= */
.form-group {
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #ddd;
}

.form-group:has([type='radio']) {
  padding: 15px;
}

/* =========================
   Inputs
========================= */
input[type='text'],
input[type='tel'],
input[type='number'] {
  width: 95%;
  padding: 10px;

  background: transparent;
  border: none;
  border-radius: 0;

  color: #fff;
}

input[type='tel'] {
  text-align: right;
}

input:focus,
input:active,
textarea:focus {
  outline: none;
  border: none !important;
}

/* =========================
   Radio Buttons
========================= */
input[type='radio'] {
  width: 18px;
  height: 18px;

  border: 2px solid #fff;
  border-radius: 0;
  background-color: #212360;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.radio-group label {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.radio-group label:first-child {
  margin-left: 20px;
  font-weight: 600;
}

.radio-group span {
  display: flex;
  margin-right: 10px;
}

/* =========================
   Checkbox
========================= */
.checkbox-group label {
  display: block;
  margin-top: 10px;
}

/* =========================
   Button
========================= */
#userForm button,
button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  font-size: 32px;
  font-weight: 600;

  transition: background-color 0.3s ease;
}

#userForm button:hover,
button:hover {
  background-color: #f1f1f1;
}

/* =========================
   Responsive
========================= */
@media (max-width: 768px) {
  .radio-group {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  form h2,
  button {
    font-size: 28px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  .form-container {
    max-width: 100%;
    padding: 15px;
  }

  input[type='text'],
  input[type='tel'],
  input[type='number'] {
    padding: 8px;
  }
}
